.Card {
    font-family: 'Poppins', sans-serif;
    margin: 3.6rem 3.6rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
figure {
    position: relative;
    margin: 0;
}
.Card .CardBody {
    max-width: 300px;
    min-width: 176px;
}

img {
    object-fit: cover;
    max-height: 350px;
    border-radius: 9px;
}

.Card .CardBody .availability {
    line-height: 1.1;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: #ffffffac;
    color: #222222;
    padding: 0.5rem 0.6rem;
    border-radius: 2px;
}

.Card .CardBody .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Card .CardBody .rating {
    display: flex;
    align-items: center;
}

.Card .CardBody p {
    margin: 0;
    font-size: 1.2rem;
}

.Card .CardBody .grey {
    color: #918e9b;
}

.Card .CardBody .rating-text {
    padding-left: 0.2rem;
}

.Card .CardBody .description {
    font-size: 1.2rem;
    padding-block: 0.8rem;
}

@media screen and (max-width: 550px) {
    .Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1500px) {
    .card-components {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
    }

    .Card .CardBody figure > img {
        max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .card-components {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .Card .CardBody figure > img {
        max-width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .card-components {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .Card .CardBody figure > img {
        max-width: 300px;
    }
}
