.Hero .main-image {
    display: block;
    margin: 2.6rem auto;
}

.Hero .main-image > img {
    object-fit: cover;
}

.Hero {
    font-family: 'Poppins', sans-serif;
    font-size: 3.6rem;
    display: flex;
    flex-direction: column;
}

.Hero .description {
    text-align: center;
    margin: 0 3.6rem;
}

.Hero .description > h1 {
    font-size: 3.6rem;
    color: #000000;
    margin: 0;
}

.Hero .description > p {
    color: #222222;
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0 0 3rem 0;
}

@media screen and (max-width: 550px) {
    .Hero .main-image {
        width: 90%;
        display: block;
        margin: 2rem auto;
    }
    .Hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .Hero .description > p {
        width: 100%;
    }

    .Hero .description {
        margin: 0;
    }
}

@media screen and (max-width: 420px) {
    .Hero .main-image {
        display: none;
    }
}

@media screen and (max-width: 1285px) {
    .Hero .description {
        text-align: center;
    }

    .Hero .description > p {
        width: 100%;
    }
}
