.Navigation .logo {
    max-width: 82px;
    margin-left: 3rem;
}

.Navigation {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
